{% extends 'base.html' %}
{% block aboutactive %} active{% endblock aboutactive %}
{% block title %} About{% endblock title %}
{% block css %}
/* Custom CSS for About Page */
.container {
    padding: 50px 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #666;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #555;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mt-5 {
    margin-top: 3rem;
}

{% endblock css %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">About Me</h2>
            <p class="lead">I'm on a mission to safeguard the digital world from cyber criminals. As a second-semester cyber student, I'm deeply passionate about enhancing online security through my knowledge and skills.</p>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Web Development Journey</h2>
            <p class="lead">My journey into web development has been exciting and enriching. I've worked on a variety of projects including blogs, chat applications, weather apps, e-commerce platforms, printing solutions, and educational platforms.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4">Future Aspirations</h2>
            <p class="lead">Looking forward, I aim to leverage my cybersecurity and web development skills to create impactful solutions that contribute to a safer and more secure online environment. With dedication and innovation, I'm committed to making a difference.</p>
        </div>
    </div>
</div>
{% endblock %}
